.note-content{
	margin-top:10px;
}

.show-note button{
	float: right;
    margin-left: 10px;
    margin-top: -5px;
}

@media only screen and (max-width: 480px) {
    body {
        background-color: lightblue;
    }

    .show-note button{
    	float: none;
    	margin-top: 10px;
    }
}