<template name="index">
	<div class="row">
		<div class="col-md-5">	
			 	{{> searchNote}}	
		</div>
		<div class="col-md-4">

			<div class="list-group ">
		   		<a href="#" class="list-group-item disabled">
				<strong>Recently Added</strong> 
			 	</a>
			  	{{> recentlyAdded}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-9">
			<input class="form-control" type="text" value="{{selectedNote.title}}"> 
			<br>
			<textarea class="form-control" rows="15">{{selectedNote.content}}</textarea>
		</div>
	</div>
	
</template>
