<template name="newNote">
{{SetTitle "MHT NOTE : Create Note"}}
	<form class="new-note">
		<div class="row">
			<div class="=form-group">
				<div class="col-md-6">
					<input type="text" class="form-control" name="title" placeholder="title" />
				</div>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="=form-group">
				<div class="col-md-6">
					<textarea  class="form-control" name="content" placeholder="Content" rows="5"></textarea> 
				</div>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="=form-group">
				<div class="col-md-6">
					<button type="submit" class="btn btn-default add-post">Submit</button>
				</div>
			</div>
		</div>
	</form>
</template>
